# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [39]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipotle = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

### Step 4. See the first 10 entries

In [40]:
chipotle.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [12]:
# Solution 1
print(len(chipotle))

4622

In [10]:
# Solution 2
chipotle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [11]:
chipotle.keys

<bound method NDFrame.keys of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

### Step 7. Print the name of all the columns.

In [42]:
for col in chipotle.columns:
    print(col)
chipotle.columns

order_id
quantity
item_name
choice_description
item_price

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [18]:
chipotle.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [43]:
chip_top = chipotle.groupby(['item_name'])
chipotle["qtySum"] = chip_top[["quantity"]].transform(sum)
chipotle.sort_values(by="qtySum", ascending=False).head(1)
#DataFrame["sum_column"] = grouped_DataFrame[["column2"]].transform(sum).
#.agg({'quantity':['sum']}).sort_values(by=['quantity'])
#print(chip_top)

,order_id,quantity,item_name,choice_description,item_price,qtySum
465,199,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Fajita Veget...",$8.75,761

### Step 10. For the most-ordered item, how many items were ordered?

In [44]:
chipotle.sort_values(by="qtySum", ascending=False).head(1).qtySum

465    761
Name: qtySum, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [45]:
choices = chipotle.groupby('choice_description').sum()
choices = choices.sort_values(['quantity'],ascending=False)
choices.head(10)

                                                    order_id  quantity  qtySum
choice_description
[Diet Coke]                                           123455       159   36555
[Coke]                                                122752       143   36957
[Sprite]                                               80426        89   21722
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49   21832
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42   18009
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     37550        40   20792
[Lemonade]                                             31892        36   10991
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...     24432        36    7403
[Coca Cola]                                            19282        32    3276
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...     29614        30   16427

### Step 12. How many items were orderd in total?

In [46]:
chipotle.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [48]:
chipotle['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [49]:
priceFloat = lambda x: float(x[1:-1])
chipotle['item_price'] = chipotle.item_price.apply(priceFloat)

dtype('float64')

#### Step 13.c. Check the item price type

In [50]:
chipotle.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [55]:
totalRevenue = (chipotle.quantity*chipotle.item_price).sum()

### Step 15. How many orders were made in the period?

In [59]:
totalOrders = chipotle.order_id.value_counts().count()

### Step 16. What is the average revenue amount per order?

In [60]:
# Solution 1
totalRevenue/totalOrders

21.39423118865867

In [65]:
# Solution 2
chipotle['orderTotal'] = chipotle.quantity * chipotle.item_price
chipotle.groupby(by=['order_id']).sum().mean()['orderTotal']
chipotle.head(10)

,order_id,quantity,item_name,choice_description,item_price,qtySum,orderTotal
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,130,2.39
1,1,1,Izze,[Clementine],3.39,20,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,29,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,33,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,761,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,761,10.98
6,3,1,Side of Chips,NaN,1.69,110,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,386,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,56,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,386,9.25

### Step 17. How many different items are sold?

In [68]:
chipotle.item_name.value_counts().count()

50