# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

### Step 4. How many products cost more than $10.00?

In [47]:
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])
chipo_filtered[(chipo_filtered.item_price>10.00) & (chipo_filtered.quantity==1)]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [61]:

chipo_price = chipo_price[['item_name','item_price','quantity']]
chipo_price.head(5)

                               item_name  item_price  quantity
0           Chips and Fresh Tomato Salsa        2.39         1
1                                   Izze        3.39         1
2                       Nantucket Nectar        3.39         1
3  Chips and Tomatillo-Green Chili Salsa        2.39         1
4                           Chicken Bowl       16.98         2

### Step 6. Sort by the name of the item

In [68]:
chipo_filtered.item_name.sort_values()

341     6 Pack Soft Drink
721     6 Pack Soft Drink
357     6 Pack Soft Drink
3141    6 Pack Soft Drink
3389    6 Pack Soft Drink
              ...
1699    Veggie Soft Tacos
3889    Veggie Soft Tacos
2851    Veggie Soft Tacos
738     Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 1949, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [74]:
chipo.sort_values(by="item_price", ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [79]:
chipo[chipo.item_name=="Veggie Salad Bowl"])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [82]:
len(chipo[(chipo.item_name=="Canned Soda") & (chipo.quantity>1)])

20